/* 全体を中央よせ*/
body{
    margin:0;
    padding:0;
    font-size:16px;
    background:#f3f4f6;
}

/* アプリケーション範囲を規定 */
.container{
    max-width: 600px;        
    margin: 30px auto;  
    background:#fff;
    border:1px solid #ddd;
    border-radius:8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding:20px;
}


header{
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
h1{
    font-size: 20px;
    margin:0;
}


main{
    width:100%;
    display:block;
    margin-bottom:10px;
}
#task{
    width:100%;
    box-sizing:border-box;
    font-size:14px;
    padding:8px;
    background-color: #e1efff;
    border:1px solid #bbb;
    border-radius:4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

/* SaveClearボタン */
ul{
    padding: 0;
    margin: 10px 0 0;
    display:table;
    table-layout: fixed;
    width:100%;
    font-size: 14px;
    text-align: center;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #fff;
    display:table-cell;
    cursor: pointer;
    color:#0d7dfd;
    padding:8px 0;
}
li:hover{
    background: #0d7dfd;
    color:#fff;
}

/* メモされた内容のテーブル表示 */
table{
    margin: 15px 0 0;
    border:1px solid #8dc3f5;
    width:100%;
    border-collapse: collapse;
}
td{
    font-size:14px;
    background-color:rgb(241, 239, 239);
    border-bottom: 1px solid #8dc3f5;
    padding:6px 8px;
}
td:last-child{
    width:80px;
    text-align:center;
    background:#fff;
}

/* 削除ボタン */
button.delete{
    font-size:12px;
    padding:4px 8px;
    cursor:pointer;
}

/* フッターは削除したからいらん
footer{
    margin-top:15px;
    text-align: center;
    font-size: 12px;
    color:#888;
}
